USE [WEMY_DB]
GO
/****** Object:  Table [dbo].[Members]    Script Date: 7/24/2026 5:24:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Members](
	[MemberID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[JoinDate] [date] NULL,
	[Status] [nvarchar](20) NOT NULL,
	[EndDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[MemberID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MembershipPlans]    Script Date: 7/24/2026 5:24:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MembershipPlans](
	[PlanID] [int] IDENTITY(1,1) NOT NULL,
	[PlanName] [nvarchar](50) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[DurationMonth] [int] NOT NULL,
	[Description] [nvarchar](200) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PlanID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Orders]    Script Date: 7/24/2026 5:24:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Orders](
	[OrderID] [int] IDENTITY(1,1) NOT NULL,
	[MemberID] [int] NOT NULL,
	[PackageID] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[OrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 7/24/2026 5:24:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] IDENTITY(1,1) NOT NULL,
	[OrderID] [int] NOT NULL,
	[PaymentDate] [datetime] NOT NULL,
	[Amount] [decimal](18, 2) NOT NULL,
	[PaymentMethod] [nvarchar](50) NULL,
	[PaymentProof] [nvarchar](255) NULL,
	[Status] [nvarchar](30) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 7/24/2026 5:24:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](30) NOT NULL,
 CONSTRAINT [PK_Roles] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 7/24/2026 5:24:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[FullName] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[CreatedDate] [datetime] NULL,
	[RoleID] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[YogaClasses]    Script Date: 7/24/2026 5:24:08 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YogaClasses](
	[ClassID] [int] IDENTITY(1,1) NOT NULL,
	[ClassTitle] [nvarchar](100) NOT NULL,
	[Theme] [nvarchar](50) NOT NULL,
	[Difficulty] [nvarchar](20) NOT NULL,
	[ClassDate] [date] NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
	[Teacher] [nvarchar](100) NOT NULL,
	[MaxParticipant] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ClassID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Members] ON 

INSERT [dbo].[Members] ([MemberID], [UserID], [JoinDate], [Status], [EndDate]) VALUES (1, 1, CAST(N'2026-07-23' AS Date), N'Active', CAST(N'2026-08-23T14:48:47.593' AS DateTime))
INSERT [dbo].[Members] ([MemberID], [UserID], [JoinDate], [Status], [EndDate]) VALUES (2, 2, CAST(N'2026-07-16' AS Date), N'Active', NULL)
INSERT [dbo].[Members] ([MemberID], [UserID], [JoinDate], [Status], [EndDate]) VALUES (3, 5, CAST(N'2026-07-24' AS Date), N'Active', CAST(N'2027-01-24T12:18:31.697' AS DateTime))
SET IDENTITY_INSERT [dbo].[Members] OFF
GO
SET IDENTITY_INSERT [dbo].[MembershipPlans] ON 

INSERT [dbo].[MembershipPlans] ([PlanID], [PlanName], [Price], [DurationMonth], [Description]) VALUES (1, N'Basic', CAST(99000.00 AS Decimal(18, 2)), 1, N'Deskripsi
• Akses seluruh kelas yoga reguler
• Jadwal latihan mingguan
• Konsultasi singkat dengan instruktur
• Sertifikat digital')
INSERT [dbo].[MembershipPlans] ([PlanID], [PlanName], [Price], [DurationMonth], [Description]) VALUES (2, N'Premium', CAST(249000.00 AS Decimal(18, 2)), 3, N'Deskripsi
• Semua benefit Basic
• Akses kelas premium
• Prioritas reservasi kelas
• Konsultasi instruktur lebih intensif
• Sertifikat digital')
INSERT [dbo].[MembershipPlans] ([PlanID], [PlanName], [Price], [DurationMonth], [Description]) VALUES (4, N'Elite', CAST(449000.00 AS Decimal(18, 2)), 6, N'• Semua benefit Premium
• Akses seluruh kelas tanpa batas
• Prioritas booking
• Konsultasi privat bulanan
• Merchandise eksklusif WEMY
• Sertifikat digital')
SET IDENTITY_INSERT [dbo].[MembershipPlans] OFF
GO
SET IDENTITY_INSERT [dbo].[Orders] ON 

INSERT [dbo].[Orders] ([OrderID], [MemberID], [PackageID], [OrderDate], [TotalPrice], [Status]) VALUES (1, 1, 1, CAST(N'2026-07-15T21:26:53.373' AS DateTime), CAST(99000.00 AS Decimal(18, 2)), N'Pending')
INSERT [dbo].[Orders] ([OrderID], [MemberID], [PackageID], [OrderDate], [TotalPrice], [Status]) VALUES (2, 1, 1, CAST(N'2026-07-15T21:26:56.383' AS DateTime), CAST(99000.00 AS Decimal(18, 2)), N'Pending')
INSERT [dbo].[Orders] ([OrderID], [MemberID], [PackageID], [OrderDate], [TotalPrice], [Status]) VALUES (3, 1, 1, CAST(N'2026-07-15T21:26:58.553' AS DateTime), CAST(99000.00 AS Decimal(18, 2)), N'Pending')
SET IDENTITY_INSERT [dbo].[Orders] OFF
GO
SET IDENTITY_INSERT [dbo].[Payments] ON 

INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [Amount], [PaymentMethod], [PaymentProof], [Status]) VALUES (1, 36, CAST(N'2026-07-16T14:23:29.197' AS DateTime), CAST(99000.00 AS Decimal(18, 2)), N'BRI', N'aa87849b-a46e-4717-8eed-6ffe357c7397.png', N'Rejected')
INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [Amount], [PaymentMethod], [PaymentProof], [Status]) VALUES (2, 37, CAST(N'2026-07-16T16:35:09.947' AS DateTime), CAST(99000.00 AS Decimal(18, 2)), N'Mandiri', N'9b52d8df-a129-47f5-ab54-2073c7aa480c.png', N'Approved')
INSERT [dbo].[Payments] ([PaymentID], [OrderID], [PaymentDate], [Amount], [PaymentMethod], [PaymentProof], [Status]) VALUES (3, 39, CAST(N'2026-07-16T22:46:14.673' AS DateTime), CAST(249000.00 AS Decimal(18, 2)), N'BNI', N'b06e4e9f-2696-45c1-a5ad-d0f339be7662.png', N'Approved')
SET IDENTITY_INSERT [dbo].[Payments] OFF
GO
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (1, N'Admin')
INSERT [dbo].[Roles] ([RoleID], [RoleName]) VALUES (2, N'User')
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [CreatedDate], [RoleID]) VALUES (1, N'Haziz23', N'hazizzana20@gmail.com', N'ppapa12345', CAST(N'2026-07-14T09:42:42.537' AS DateTime), 2)
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [CreatedDate], [RoleID]) VALUES (2, N'ilham', N'ilhamisthegod@gmail.com', N'123456', CAST(N'2026-07-14T12:46:36.937' AS DateTime), 2)
INSERT [dbo].[Users] ([UserID], [FullName], [Email], [Password], [CreatedDate], [RoleID]) VALUES (4, N'Administrator', N'admin@wemy.com', N'admin123', CAST(N'2026-07-15T15:02:08.830' AS DateTime), 1)
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
SET IDENTITY_INSERT [dbo].[YogaClasses] ON 

INSERT [dbo].[YogaClasses] ([ClassID], [ClassTitle], [Theme], [Difficulty], [ClassDate], [StartTime], [EndTime], [Teacher], [MaxParticipant]) VALUES (1, N'Morning Yoga', N'Relaxation', N'Beginner', CAST(N'2026-07-20' AS Date), CAST(N'07:00:00' AS Time), CAST(N'08:00:00' AS Time), N'Ayu Lestari', 20)
INSERT [dbo].[YogaClasses] ([ClassID], [ClassTitle], [Theme], [Difficulty], [ClassDate], [StartTime], [EndTime], [Teacher], [MaxParticipant]) VALUES (2, N'Hatha Yoga', N'Balance', N'Beginner', CAST(N'2026-07-21' AS Date), CAST(N'18:00:00' AS Time), CAST(N'19:00:00' AS Time), N'Rina Putri', 20)
INSERT [dbo].[YogaClasses] ([ClassID], [ClassTitle], [Theme], [Difficulty], [ClassDate], [StartTime], [EndTime], [Teacher], [MaxParticipant]) VALUES (3, N'Sunset Flow', N'Flexibility', N'Intermediate', CAST(N'2026-07-22' AS Date), CAST(N'17:00:00' AS Time), CAST(N'18:00:00' AS Time), N'Dita Maharani', 15)
SET IDENTITY_INSERT [dbo].[YogaClasses] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Users__A9D105343FDB28D5]    Script Date: 7/24/2026 5:24:08 PM ******/
ALTER TABLE [dbo].[Users] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Members] ADD  DEFAULT ('Inactive') FOR [Status]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT (getdate()) FOR [OrderDate]
GO
ALTER TABLE [dbo].[Orders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT (getdate()) FOR [PaymentDate]
GO
ALTER TABLE [dbo].[Payments] ADD  DEFAULT ('Waiting') FOR [Status]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT (getdate()) FOR [CreatedDate]
GO
ALTER TABLE [dbo].[Users] ADD  DEFAULT ((2)) FOR [RoleID]
GO
ALTER TABLE [dbo].[Members]  WITH CHECK ADD  CONSTRAINT [FK_Members_Users] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[Members] CHECK CONSTRAINT [FK_Members_Users]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Members] FOREIGN KEY([MemberID])
REFERENCES [dbo].[Members] ([MemberID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Members]
GO
ALTER TABLE [dbo].[Orders]  WITH CHECK ADD  CONSTRAINT [FK_Orders_Packages] FOREIGN KEY([PackageID])
REFERENCES [dbo].[MembershipPlans] ([PlanID])
GO
ALTER TABLE [dbo].[Orders] CHECK CONSTRAINT [FK_Orders_Packages]
GO
ALTER TABLE [dbo].[Payments]  WITH CHECK ADD  CONSTRAINT [FK_Payments_Orders] FOREIGN KEY([OrderID])
REFERENCES [dbo].[Orders] ([OrderID])
GO
ALTER TABLE [dbo].[Payments] CHECK CONSTRAINT [FK_Payments_Orders]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK_Users_Roles] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK_Users_Roles]
GO
